@using myShared.Services
@page "/"
@inject NavigationManager NavigationManager
@inject HttpClient Http
@inject UserService userservice
@using myShared.Models

<div class="page-header">
<h1 class="Headerstyle"Style="position:absolute; left: 50px;top: 34px;">Welcome To Deaf-Blind Helper</h1>
</div>

<div class="container">
<RadzenCard  Style=" background-color:#b6e0e7; width: 493px;position:absolute;left: 63px;top: 132px;height: 546px;">
    <div style="font-weight: bolder;">Deaf-blindness is the condition of little or no useful hearing and little or no useful sight.</div>

    <div style="font-weight: bolder;">some problems a Deaf-blind may face:</div>

    <div style="font-weight: lighter;">1)Depending on others to feel safe and informed</div>

    <div style="font-weight: lighter;">2)Learning and using communication strategies</div>

    <div style="font-weight: lighter;">3)Becoming aware of and navigating their surroundings</div>

    <div style="font-weight: lighter;">4)Finding social, living and employment situations that fit their individual talents, needs and aspirations</div>

    <div style="font-weight: lighter;">5)Overcoming barriers that complicate their interactions with non Deaf-Blind people</div>

    <div style="font-weight: bolder;">We are trying to make it easier to communicate with them by creating a web app that guides us to communicate using tactile sign language</div>
   
    <RadzenImage Path="tactile.jpg" Style="width:266px;position: absolute;top: 363px;left: 84px;" />
</RadzenCard>
 <RadzenCard style="background-color:#b6e0e7;position: absolute;top: 134px;left: 615px;width: 474px;">
            <RadzenLogin  AllowResetPassword="false"
            Login="@((args) => Login(args))"  
            Register="@((args) => signup())" Style="margin-bottom: 20px;" />
            @if(tmp){<p style="color: red;">You are not registerd!</p>}
</RadzenCard>

<RadzenCard style="background-color:#b6e0e7;align-items: center;opacity: 66%;font-size:medium;position: absolute;top: 446px;left: 615px;height: 110px;width: 474px;">
   <div style="font-weight: bold;"> Contact Us</div>
   <div> email : yasmina.md78@gmail.com</div>
</RadzenCard>

</div>





@code{

    User user2=new User();
    HttpResponseMessage response= null;
    bool tmp=false;
    
    
    void  Login(LoginArgs args)
    {
       user2.UserName=args.Username;
       user2.PassWord=args.Password;
       userservice.UserServicePass( user2);
        Loginmethod();
        StateHasChanged();
        
       
    }

    private  void signup()
    {
        NavigationManager.NavigateTo("Register");
    }

     private async void Loginmethod()
    {
        var uri = "https://localhost:5004/User/login";
        try { response = await Http.PostAsJsonAsync(uri,userservice.user); }
        catch (Exception e) { System.Console.WriteLine(e.Message); }
        
        if(response.Content.ReadAsStringAsync().Result.ToString()=="true"){
            NavigationManager.NavigateTo($"DeafBlindHelper/{userservice.user.UserName}");
            tmp=false;
        }
        else{
            tmp=true;
        }
        
    }
}